<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "StylesheetLanding.css" %>
  <title>Welcome to Spotted!</title>
</head>
<body>


  <div id"Top_Section">
    <h3>Welcome to Spotted!</h3> 

  </div>


</body>
</html>