<head>
  <!--testing piviotla-->
  <%= stylesheet_link_tag "main.css" %>
  <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
  <script type="text/javascript">
      $(function(){
          $(".circle").click(function(){
              $(this).css("background", "#58488A");
          });
      });
  </script>

  <title> Welcome to Spotted! </title>

</head>
<body>
	
	<div id="Head_Bar">

			<h1 id="Logo"> Spotted </h1>
			 
			<div id="Facebook_Login">			 
		
       <% if current_user %>

      

	   			 Welcome <strong> <%= current_user.name %> </strong>!
           
        	<%= link_to "Sign out", signout_path, id: "sign_out" %>
    		<% else %>
          
           <div id="Login_Button">
        	<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  		    </div>

        <% end %>	
  </div>
			
			
			
	</div>>
</body>