html{
  font-family: "font-awesome";
  overflow: auto;
  background-image:url('dots.png');
}

}

/*This was cleaned on March.28th 2014 */



.Post_Section section{
 
       margin-top: 50%;
        float: below;
        height: 60%;
        padding-left: 10%;

}


#tagform{
        float: right;
        padding-right: 10px;
}


#postform{
        float: right;
        padding-right: 5px;

}



/*
Main (center) Table Section
*/

.align-right{ position:right; float:right; margin:  200px 50px 0px 0px; padding-left: 5px;}
.align-left { position:left;float: left; margin:   -150px 0px  0px 50px; padding-right: 5px;}

.PostIndex { 
  width:80%;
  position: absolute;
  top:0px;
  color: white;
  border-collapse: collapse;
 
}

        
td, th {  border: 0 none; height: 50%; }
            
th {
    text-shadow: 1px 1px 1px black;
    background: #2284BA;
    color: white ; font-weight: bold; font-size: 50px;
    margin-top: 10%;
    text-align: center;
    padding-left:10px;

}
        
td { background: #FAFAFA; text-align: center; padding-left: 10px; height: 500px;}

        
tr:nth-child(even) td { background: #272727;  font-weight: bold; border: 0px; padding-left: 15px; text-shadow: 1px 1px 1px black;  
} 


tr:nth-child(odd) td { background: #2284BA; font-weight: bold; border: 0px; padding-left: 15px; text-shadow: 1px 1px 1px black;
}



tr td:first-child, tr th:first-child {
    border-spacing: 0 0px;
    border-collapse: collapse;
    width: 10px;
}






/*
Links.
*/
a:link    { COLOR: white;}
a:visited {COLOR: white;}
a:hover   {COLOR: white;}
a:link    {text-decoration:none;}


/*
---------------------fixed Navigation Bar on left
*/


#Post_Section{
        margin-top: 100px;
        float: below;
        height: 1000px;
        padding-left: 10%;

}

#Filter_Section{
  width:40%;
  background-color: white; 
  margin-top: 10%;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  
}

#Navigation{
    position: fixed;
    top: 50%;
    color: white;
    font-weight: bold;
}





#Button_Group_Left{
    position:fixed;
    background-color: #2284BA;
    width:8%;
    height:400px;
    top:40%;
    overflow-x: none;
    word-wrap: break-word
}

#Logged_In{
        color: white;
        width: 400px;
        height: 20px;
        position: fixed;
        top: 3%;
        right: 1%;
}




.fa{
    width:100%;
    vertical-align: middle;
}


#Button_Post{

    margin-top: 20px;
    color:white;
    font-weight: bold;
    background-color: #2284BA ;
    text-align: center;
    

}


#Button_Login{

    margin-top: 20px;
    color:white;
    font-weight: bold;
    background-color: #2284BA ;
    text-align: center;
    float:below;

}

#Button_Filter{

    margin-top: 20px;
    color:white;
    font-weight: bold;
    background-color: #2284BA ;
    text-align: center;
    float:below;

}


#Button_Profile{
    margin-top: 35px;
    color:white;
    font-weight: bold;
    background-color: #2284BA ;
    text-align: center;
    float:below;

}

/*
------------------Two coloured side bars surrounding the middle table. 
*/
#Side_Nav{
    width: 12%;
    left: 0;
    height: 100%;
    top:0;
    position: fixed;
    background-color: #272727;

}

#Side_Nav_R{
    width: 12%;
    right: 0;
    height: 100%;
    top:0;
    position: fixed;
    background-color: #272727;

}

/*----------------------------------------------------------------*/

.asc{
        background-color: blue;
}
.desc{
        background-color: yellow;
}
