@font-face { font-family: Awesome; src: url('/assets/fonts/FontAwesome.otf'), format('truetype'); } 
@font-face { font-family: 2Dumb; src: url('fonts/2Dumb.ttf'), format('truetype'); } 


html{
  font-family: "Awesome";
  overflow: auto;
}

body{
	background-image:url('dots.png');
}

#Facebook_Login{
	float: right;
	padding-right: 10%;
}

#post{
	padding-left: 5%;
}

#submit_button{
	
	position: fixed;
	right: 8px;
	bottom: 10px;
	visibility: hidden;


}

#PostQ{
	
	font-family: 2Dumb;
	font-size: 30px;
	position: fixed;
	bottom: 20px;
	z-index: 2;
	right: 2%;
}


#Post_Bar{
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 30%;
	height: 2%;
	background-color: white;
}


#Post_Bar:hover{
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 2;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 30%;
	height: 15%;
	transition: all 5s ease-in-out -5s;
	background-color: white;
}


#Post_Bar:hover  #submit_button{
	visibility: visible;
}


#tagform{
	float: right;
	padding-right: 10px;
}


#postform{
	float: right;
	padding-right: 5px;

}

#Post_Section{
	margin-top: 100px;
	float: below;
	height: 1000px;
	padding-left: 10%;

}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}


#Post1{
	margin-top: 15px;
	width: 80%;
	padding-left: 10%;
	background-color:  White;
	float:left;
	padding-top: 1%;
	padding-left: 1%;
	position: static;
	z-index: 2;
	border-style: solid;
	border-width: 0.3px;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;

	margin-left:5%; 
}


#Logged_In{
	color: #60c5ea;
	width: 400px;
	height: 20px;
	position: fixed;
	top: 3%;
	right: 1%;
}

#Logo{
	width: 10%;
	padding-left: 100px;
	margin-bottom: auto;
	z-index: 4;
} 

#Logo:hover{
	
	padding-left: 100px;
	margin-bottom: auto;
	font-color:  red ;
	color: #60c5ea;
}



#Login_Button_Container{
	width: 200px;
	height: 20px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	position: fixed;
	top: 3%;
	right: 2%;
}

#Login_Button{
	font-size: 15px;
	margin-left: 8%; 
}



/*
CSS For Links.
*/
a:link {
COLOR: black;
}
a:visited {
COLOR: black;
}
a:hover {
COLOR: #60c5ea;
}

#Post_Stats_Top{
	float: left;
	float: top;
}

#Vote_Count{
	float: left;
	border-width: 1px;
 	border-style: solid;
 	border-color: black;
 	border-radius: 8px;
}

#Filter_Box{
	width: 100px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	position: fixed;
	margin-bottom: auto;
	top: 30px;
	margin-left: -50px;
	  left: 50%;

}

#Filter_Box:active{
	width: 200px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 10px;
	position: fixed;
	margin-bottom: auto;
	top: 30px;
		margin-left: -100px;
	  left: 50%;

}

#Color_Button{

}

#Tag_Value{
 float: right;
 border-width: 1px;
 border-style: solid;
 border-color: black;
 border-radius: 8px;

}

#Post_Value{

}

#Not_Logged_In{
	font-size:45px;
	padding-top: 2px;
}


#Head_Bar{
	background-color: white;
	width: 100%;
	height: 80px;
	position: fixed;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-left: 0px;
    border-right:0px;
    border-top:0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    box-shadow: 15px 15px 10px #888888;
    z-index: 3;
}

td{
	border: 1px solid black;
}
.asc{
	background-color: blue;
}
.desc{
	background-color: yellow;
}