html{
  font-family: "Awesome";
  overflow: auto;
          background-image:url('dots.png');

}

}

#Facebook_Login{
        float: right;
        padding-right: 10%;
}

#post{
        padding-left: 5%;
}

#submit_button{
        
        position: fixed;
        right: 8px;
        bottom: 10px;
        visibility: hidden;
}

#PostQ{
        
        font-family: 2Dumb;
        font-size: 30px;
        position: fixed;
        bottom: 20px;
        z-index: 2;
        right: 2%;
}


#Post_Bar{
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 30%;
        height: 2%;
        background-color: white;
}

#sign_in{
    color: white;

}

#sign_in:hover{
    color:#d3d3d3
}


/*POST BUTTON TEMP*/

#Post_Bar:hover{
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 2;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 30%;
        height: 15%;
        transition: all 5s ease-in-out -5s;
        background-color: white;
}


#Post_Bar:hover #submit_button{
        visibility: visible;
}

#Post_Bar:hover #


#tagform{
        float: right;
        padding-right: 10px;
}


#postform{
        float: right;
        padding-right: 5px;

}

#Post_Section{
        margin-top: 100px;
        float: below;
        height: 1000px;
        padding-left: 10%;

}


/*POST BUTTON TEMP*/

#Post_Float_In{
    position: absolute;
    background-color: white;
    border-style: solid; border-radius: 10px; border-color: black;
    left: 50%;
    width: 250px; /* Overall width of div */
    height: 70px; /* Overall height of div */
    top: -35px; /* half of the overall height */
    margin-left: -125px; /* half of the overall width */
    visibility: visible
}


#tagform{
        float: right;
        padding-right: 10px;
}


#postform{
        float: right;
        padding-right: 5px;

}

#Post_Section{
        margin-top: 100px;
        float: below;
        height: 1000px;
        padding-left: 10%;

}

#Filter_Section{
  width:40%;
  background-color: white; 
  margin-top: 10%;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  
}

/*CODE FROM http://codepen.io/mastastealth/pen/BHJLb
*/


.PostIndex { 
    top: 0px;
  width: 90%;
  overflow-x: none;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  /* Table reset stuff */
   border-spacing: 0 30px; 
   border-collapse: seperate;
}

        
td, th {  border: 0 none; height: 30px; }
            
th {
    background: #5B9C64
;
    color: white; font-weight: bold; font-size: 30px;
    height: 100px;
box-shadow: 10px 10px 5px #888888;

}
        
td { background: #FAFAFA; text-align: center; height: 150px;}

        
tr:nth-child(even) td { background: #EEE;  box-shadow: 5px 5px 3px #888888; border: 0px;
} 

tr:nth-child(odd) td { background: #FDFDFD; box-shadow: 5px 5px 3px #888888; border: 0px;
}

tr td:first-child, tr th:first-child {
    border-spacing: 0 30px;
    border-collapse: collapse;
}

/* Add border-radius to specific cells! */
tr:first-child th:nth-child(2) { 
  border-radius: 5px 0 0 0; 
} 

tr:first-child th:last-child { 
  border-radius: 0 5px 0 0; 
}

/*CODE FROM http://codepen.io/mastastealth/pen/BHJLb
*/

#Logged_In{
        color: white;
        width: 400px;
        height: 20px;
        position: fixed;
        top: 3%;
        right: 1%;
}

#Logo{

        width: 10%;
        font-size: 40px;
        color: white;
        padding-left: 100px;
        margin-bottom: auto;
        z-index: 4;
}

#Logo:hover{
        
        padding-left: 100px;
        margin-bottom: auto;
        font-color: red ;
        color: #d3d3d3;
        font-size: 45px;
}



#Login_Button_Container{
        width: 200px;
        height: 20px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 10px;
        position: fixed;
        top: 3%;
        right: 5%;
        color: white;
}

#Login_Button{
        font-size: 15px;
        margin-left: 8%;
}



/*
CSS For Links.
*/
a:link    { COLOR: black;}
a:visited {COLOR: black;}
a:hover   {COLOR: white;}
a:link    {text-decoration:none;}

#Post_Stats_Top{
        float: left;
        float: top;
}
#Post_Section_Bottom{
    float: left;
    float: below;
}


#tag{
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-left: 10px;

}
#cached_votes_up{
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}
#created_at{
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

#Tag_Value{
    float: right;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;


}


#Vote_Count{
        
         float: left;
         border-width: 1px;
         border-style: solid;
         border-color: black;
         border-radius: 8px;
}

#Filter_Box{
        width: 100px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 10px;
        position: fixed;
        margin-bottom: auto;
        top: 30px;
        margin-left: -50px;
         left: 50%;

}

#Filter_Box:active{
        width: 200px;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 10px;
        position: fixed;
        margin-bottom: auto;
        top: 30px;
                margin-left: -100px;
         left: 50%;

}


#Not_Logged_In{
        font-size:45px;
        padding-top: 2px;
        color: white;
}


#Head_Bar{
        background-color:#2F4F4F
;
        width: 100%;
        height: 90px;
        position: fixed;
        color: white;
        font-size: 15px;
  
    top: 0px;
    left: 0px;
    border-style: solid;
    border-color: black;
    border-width: 0px;
    border-left: 0px;
    border-right:0px;
    border-top:0px;

    box-shadow: 15px 15px 10px #888888;
    z-index: 3;
}


.asc{
        background-color: blue;
}
.desc{
        background-color: yellow;
}